<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-панель</title>
    <base href="{{ url_for('static', filename='') }}">
    <link rel="stylesheet" href="main/main.css">
</head>
<body>
    <div class="admin-panel-page-container">
        <div class="admin-panel-page">
            <header>
                <div class="header-container">
                    <div class="logo-button" onclick="window.location.href = '/main/admin'">
                        <div class="logo-container">
                            <img src="public/logo.png" alt="Логотип" class="logo">
                            <h1 class="logo-text">IT Весна</h1>
                        </div>
                    </div>
                    <div class="tab-container">
                        <div class="left-tab-container" id="tab-container">
                            <!-- Вкладки будут генерироваться здесь динамически -->
                        </div>
                    </div>
                    <div class="enter-admin">
                        <a href="/admin/admin" class="admin-button">Панель</a>
                    </div>
                </div>
            </header>

            <!-- Контейнер для ввода и кнопки "Опубликовать" -->
            <div class="post-input-container">
                <div id="post-input" class="post-input" contenteditable="true">
                    <div id="placeholder" class="placeholder">Напишите свой текст...</div>
                </div>
                <button class="publish-button" id="publish-button">Опубликовать</button>
            </div>
            
            <!-- Контейнер для постов -->
            <ul id="tab-content-container">
                <!-- Посты для каждой вкладки будут отображаться здесь -->
                <li class="post-item">
                    <div class="post-header">
                        <div class="post-header-left">
                            <!-- Здесь будет отображаться автор -->
                        </div>
                        <div class="post-header-right">
                            <!-- Здесь будет отображаться дата -->
                        </div>
                    </div>
                    <div class="post-content">
                        <!-- Содержание поста -->
                    </div>
                    <div class="post-actions">
                        <button class="like-btn">Лайк</button>
                        <button class="comment-btn">Комментарий</button>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <footer>
        © Оренбургский государственный университет, 2025
    </footer>

    <script src="main/admin.js"></script>
</body>
</html>
