<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Весна - Создание заявки</title>
    <base href="{{ url_for('static', filename='') }}">
    <link rel="stylesheet" href="main/RequestPage.css">
</head>
<body>
    <header>
        <a href="/main/user" class="logo-button">
            <div class="logo-container"> 
                <img src="public/logo.png" alt="Логотип" class="logo">
                <h1 class="logo-text">IT Весна</h1>
            </div>
        </a>
    </header>
    
    <main>
        <section class="form-container">
            <h2 class="form-title">Создание заявки</h2>  <!-- Заголовок "Создание заявки" -->
            <div class="form-content">
                <!-- Левая часть: Информация о команде -->
                <div class="left-section">
                    <h3>Информация о команде</h3>
                    <div class="input-group">
                        <input type="text" id="author-input" placeholder="Добавить автора">
                        <button class="add-btn" id="add-author-button">+</button>
                    </div>
                    <div id="authors-list"></div>
                    <select id="age-group" class="input-field">
                        <option>Возрастная группа</option>
                    </select>
                    <input type="email" placeholder="Почта" class="input-field">
                    <select id="nomination" class="input-field">
                        <option>Номинация</option>
                    </select>
                    <input type="text" placeholder="Учреждение" class="input-field">
                    <div class="input-file-wrapper">
                        <input type="file" id="file-upload" class="input-field">
                    </div>
                    
                </div>
    
                <!-- Правая часть: Информация о проекте -->
                <div class="right-section">
                    <h3>Информация о проекте</h3>
                    <input type="text" placeholder="Название проекта" class="input-field">
                    <textarea id="description" placeholder="Описание проекта" class="expanding-textarea input-field"></textarea>
                    <div class="input-group">
                        <input type="text" id="link-input" placeholder="Добавить ссылку">
                        <button class="add-btn" id="add-link-button">+</button>
                    </div>
                    <div id="links-list"></div>
                    <button class="submit-btn">Отправить заявку</button>
                </div>
            </div>
        </section>
    </main>
    
    
    <footer>
        © Оренбургский государственный университет, 2024
    </footer>
    <script src="main/RequestPage.js"></script>
</body>
</html>
