<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Весна - Создание заявки</title>
    <base href="{{ url_for('static', filename='') }}">
    <link rel="stylesheet" href="main/RequestPage.css">
</head>
<body>
    <header>
        <a href="{{ url_for('dynamic_route', subpath='main/user') }}" class="logo-button">
            <div class="logo-container"> 
                <img src="public/logo.png" alt="Логотип" class="logo-button">
                <h1 class="logo-button" style="margin-top: 10px;">IT Весна</h1>
            </div>
            <nav class="tab-container">
                <a href="#">Участие</a>
                <a href="#">План мероприятий</a>
                <a href="#">Положение конкурса</a>
                <a href="#">Состав жюри</a>
                <a href="#">Технические требования</a>
            </nav>
    </header>
    
    <main>
        <section class="form-container">
            <h2>Создание заявки</h2>
            <div class="form-section">
                <h3>Информация о команде</h3>
                <input type="text" placeholder="Авторы">
                <select>
                    <option>Возрастная группа</option>
                </select>
                <input type="email" placeholder="Почта">
                <select>
                    <option>Номинация</option>
                </select>
                <input type="text" placeholder="Учреждение">
                <input type="file">
            </div>
            <div class="form-section">
                <h3>Информация о проекте</h3>
                <input type="text" placeholder="Название проекта">
                <textarea placeholder="Описание проекта"></textarea>
                <input type="text" placeholder="Ссылки на сторонние ресурсы">
            </div>
            <button class="submit-btn">Отправить заявку</button>
        </section>
    </main>
    
    <footer>
        <p>&copy; Оренбургский государственный университет, 2024</p>
    </footer>
    <script src="RequestPage.js"></script>
</body>
</html>
