<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Весна</title>
    <base href="{{ url_for('static', filename='') }}">
    <link rel="stylesheet" href="main/main.css">
</head>
<body>
    <div class="user-page-container">
        <div class="user-page">
            <header>
                <div class="header-container">
                    <div class="logo-button" onclick="window.location.href = '/main/user'">
                        <div class="logo-container">
                            <img src="public/logo.png" alt="Логотип IT Весна" class="logo">
                            <h1 class="logo-text">IT Весна</h1>
                        </div>
                    </div>
                    <div class="tab-container">
                        <div class="left-tab-container" id="tabs"></div>
                    </div>
                </div>
            </header>
            
            <div class="create-request">
                <a href="/main/request_page" class="create-request-button">Подать заявку</a>
            </div>

            <div class="right-tab-container">
            </div>

            <div class="tab-content" id="tab-content"></div>
        </div>
    </div>

    <footer>
        © Оренбургский государственный университет, 2025
    </footer>

    <script src="main/user.js"></script>
</body>
</html>
