/* Подключение шрифта Jura с Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

/* Стили для логотипа */
.logo img {
  width: 45%; /* Адаптивная ширина логотипа */
  margin-bottom: -10%; /* Смещение логотипа вверх */
}

/* Стили для заголовка */
h1 {
  color: #000;
  font-size: 3.5vw; /* Адаптивный размер заголовка */
  margin-bottom: 2%; /* Отступ снизу */
}

/* Стили для формы и ее элементов */
.form-group {
  margin-bottom: 1.5%; /* Отступ снизу */
}

.form-group input {
  width: 70%; /* Ширина поля ввода занимает всю доступную ширину */
  padding: 1vw; /* Адаптивный внутренний отступ поля ввода */
  border: 1px solid #AEF5FF;
  border-radius: 8px;
}

/* Стили для кнопок */
.login-button {
  width: 40%; /* Адаптивная ширина кнопки */
  padding: 1vw; /* Адаптивный внутренний отступ кнопки */
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit {
  width: 45%; /* Адаптивная ширина кнопки */
  padding: 1vw; /* Адаптивный внутренний отступ кнопки */
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-button :hover {
  background-color: #9abbd4; /* Изменение цвета при наведении */
}
.submit:hover {
  background-color: #9abbd4;
}

/* Стили для ссылок "Забыли пароль?" и "Регистрация" */
.register-forgot-password {
  margin-top: 2%; /* Отступ сверху */
}

.register-forgot-password a {
  color: #000;
  text-decoration: none;
  margin: 0.5%; /* Увеличение отступов между кнопками */
  padding: 0.5vw 1vw; /* Адаптивные отступы для кнопок */
  border: 1px solid #5bb3d8;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.register-forgot-password a:hover {
  background-color: #5bb3d8; /* Изменение цвета при наведении */
  color: #fff; /* Изменение цвета текста при наведении */
}

/* Стили для изображения */
.osu {
  position: relative;
  margin-top: 5%; /* Уменьшение отступа сверху */
}

.osu img {
  width: 70%; /* Адаптивная ширина изображения */
  position: absolute;
  bottom: 20%; /* Смещение изображения вниз */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-bottom: -10%; /* Смещение логотипа вверх */
}

/* Стили для контейнера */
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(207, 232, 237, 0.25);
  border-radius: 1vw; /* Адаптивный радиус границы */
  padding: 3vw; /* Адаптивный внутренний отступ контейнера */
  width: 30%; /* Адаптивная ширина контейнера */
  position: absolute;
  top: 50%; /* Расположение контейнера на 50% высоты экрана */
  left: 50%; /* Расположение контейнера на 50% ширины экрана */
  transform: translate(-50%, -50%); /* Сдвиг контейнера на половину его собственной ширины и высоты назад */
}


.container h1 {
  margin-bottom: 3%; /* Отступ снизу */
}

.container button {
  margin-top: auto; /* Кнопки располагаются внизу контейнера */
}

.container .register-forgot-password {
  margin-top: 5%; /* Отступ сверху */
}

.container .register-forgot-password a {
  margin: 1%; /* Увеличение отступов между кнопками */
}

.container .osu {
  margin-top: 15%; /* Уменьшение отступа сверху */
}
