/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Общие настройки страницы */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

/* Header (шапка) */
header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  margin-left: 10vh;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.admin-nav {
  display: flex;
  gap: 30px;
  font-size: 16px;
  margin-left: 20px;
}

.tab {
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
  color: #333;
}

.tab.active {
  color: #6DB33F;
}

.tab:hover {
  color: #6DB33F;
}

/* Основная часть страницы */
main {
  padding: 120px 20px 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Навигационные вкладки (левая панель) */
.tabs {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 20px;
}

.sub-tab {
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #333;
  transition: color 0.3s;
}

.sub-tab.active {
  color: #6DB33F;
}

.sub-tab:hover {
  color: #6DB33F;
}

/* Контейнер для списка заявок */
.application-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

/* Стиль для каждой заявки */
.request {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  transition: transform 0.3s ease;
}

.request:hover {
  transform: scale(1.05);
}

.request .author {
  font-size: 14px;
  color: #777;
}

.request .status {
  font-size: 14px;
  color: #6DB33F;
}

/* Подвал */
footer {
  text-align: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-size: 14px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .admin-nav {
    margin-top: 10px;
    justify-content: center;
    gap: 15px;
  }

  .tabs {
    flex-direction: column;
    gap: 10px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .application-list {
    margin-top: 20px;
  }
}
