/* MainUserPage.css */

/* Подключение шрифта Jura с Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

.user-page .tab-container {
    border-radius: 5px; /* Адаптивное закругление углов */
    display: flex;
    justify-content: space-between;
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 0px;
    margin-left: 0.7vw;
    margin-bottom: 0.5vw;
    font-size: 16px;  
    font-weight: bold;
}

.user-page .left-tab-container .tab,
.user-page .right-tab-container .tab {
    border-radius: 5px; /* Адаптивное закругление углов */
    border: none; /* Убираем границу */
    margin-right: 0.5vw; /* Уменьшаем отступ справа */
    margin-left: 0.5vw; /* Уменьшаем отступ справа */
    width: auto; /* Установим ширину в автоматическую, чтобы текст был в одну строку */
    white-space: nowrap; /* Запретим перенос текста на новую строку */
    padding: 10px;
    user-select: none; /* Запрещаем выделение текста */
}

.user-page .left-tab-container {
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 5px; /* Адаптивное закругление углов */
    padding: 8px;
    align-items: center; /* Выравниваем элементы по вертикали */
}

.user-page .tab.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.publish-button:hover {
    background-color: rgb(0, 0, 0); /* Изменяем цвет фона при наведении */
}

/* Добавляем стили для кнопки "Подать заявку" */
.request-button {
    padding: 10px 20px; /* Задаем внутренние отступы кнопки */
    background-color: rgb(0, 0, 0); /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Закругляем углы кнопки */
    font-size: px; /* Размер шрифта */
    cursor: pointer; /* Устанавливаем курсор в виде указателя */
    width: 12vw;
height: 4vw;
    text-align: center; /* Выравниваем текст по центру */
    line-height: 40px; /* Выравниваем по вертикали */
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* Добавляем стили для контейнера кнопки "Подать заявку" */
  .request-button-container {
    display: flex; /* Размещаем элементы в строку */
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: flex-end; /* Выравниваем элементы по правому краю */
  }

.request-button:hover {
    background-color: rgb(50, 50, 50); /* Изменяем цвет фона при наведении */
}



