/* AdminPanelPage.css */

/* Подключение шрифта Jura с Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

/* Общие стили для страницы административной панели */
.admin-panel-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 100vw;
}

.admin-panel-page-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}

/* Прозрачная полоса с надписью "IT Весна" */
.transparent-bar {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    z-index: 1;
    font-family: 'jura', sans-serif;
    font-size: 46px;
    font-weight: bold; /* Делаем текст жирным */
}

/* Контейнеры для вкладок */
.tab-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 1780px;
    max-width: 1920px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold; /* Делаем текст жирным */
}

/* Стили для контейнера группы вкладок слева */
.left-tab-container,
.right-tab-container {
    display: flex;
    border: 1px solid #ffffff00; /* Граница вокруг группы вкладок слева */
    border-radius: 8px; /* Закругление углов */
    margin-right: 5px; /* Внешний отступ между группами вкладок */
}

.left-tab-container .tab,
.right-tab-container .tab {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.tab.active {
    background-color: #6b62caff;
    color: white;
}

/* Стили для вкладок */
.tab {
    margin-right: 10px; /* Внешний отступ между вкладками */
}

/* Убираем отступ у последней вкладки, чтобы не было лишнего пространства */
.tab:last-child {
    margin-right: 30px;
}

.tab:first-child {
    margin-left: 20px;
}

/* Стили для содержания заявки и кнопок */
.request-container {
    width: 1740px ; /* Занимать всю ширину */
    margin-left: 20px;
}

.request {
    background-color: #fefefe00;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 200px;
    width: 100% ; /* Занимать всю ширину */
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.request .button-container {
    display: flex;
    justify-content: flex-end; /* Расположение кнопок в крайней правой части */
    align-items: center; /* Выравнивание кнопок по центру по вертикали */
}

/* Стили для кнопок */
.button {
    background-color: rgb(147, 91, 219);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    margin-left:10px;
    cursor: pointer;
}

/* Стили для контейнера кнопок */
.button-container {
    display: flex;
    margin-right:50px;
    justify-content: flex-end; /* Размещаем кнопки в правой части */
    align-items: center; /* Выравниваем кнопки по центру по вертикали */
}

/* Стили для прямоугольника */
.rectangle-1 {
    width: 100%;
    max-width: 500px;
    height: 140px;
    background-color: #ffffff7a;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

/* Стили для содержимого прямоугольника */
.request {
    background-color: #fefefe;
    border-radius: 8px;
    padding: 0px; /* Добавляем отступы внутри прямоугольника */
    margin-bottom: 20px;
    width: 100%; /* Занимать всю ширину */
    display: flex;
    justify-content: space-between; /* Распределение пространства между элементами */
    align-items: center; /* Выравнивание по центру по вертикали */
}

/* Дополнительные стили для текста внутри прямоугольника */
.request .text {
    padding-right: 20px; /* Добавляем отступ справа для сдвига текста */
    font-weight: bold; /* Делаем текст жирным */
    font-size: 30px;
}

.request .text-name {
    padding-right: 20px; /* Добавляем отступ справа для сдвига текста */
    font-size: 40px;
}

/* Стили для изображений в кнопках */
.otmena img,
.ok img,
.arh img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Стили для полей ввода и кнопки на вкладке Модераторы */
.input-container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-left: 1500px;
}

.input-container input {
    margin-bottom: 10px; /* Добавим небольшой отступ между полями ввода */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.button-create {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #6b62caff;
    color: white;
    cursor: pointer;
    width: 100px; /* Зададим фиксированную ширину кнопки */
   
}

.button-create:hover {
    background-color: #564dbd;
}


.moderator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f0f0f07a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 1700px;
    height: 80px;
    font-weight: bold;
    font-size: 25px;
}

.name-container,
.email-container {
    display: flex;
    align-items: center;
}

.input-container input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.button-delete {
    padding: 8px 20px;
    font-size: 14px;
    color: white;
    background-color: rgb(0, 0, 0); /* Цвет кнопки удаления */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; /* Размещение кнопки удаления в правом нижнем углу */
    width: 100px;
}


.moderator-container:hover {
    background-color: #e0e0e080; /* Цвет фона при наведении */
}
  