body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.logo img {
  width: 150px;
  margin-bottom: -30px;
}

h1 {
  color: #000;
  font-size: 60px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 350px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 5px;
}

button {
  width: calc(100% - 150px);
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9abbd4;
}

.register-forgot-password {
  margin-top: 20px;
}

.register-forgot-password a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  padding: 10px 10px;
  border: 1px solid #5bb3d8;
  border-radius: 5px;
}

.register-forgot-password a:hover {
  background-color: #5bb3d8;
  color: #fff;
}

.osu {
  position: relative;
  margin-top: 110px;
}

.osu img {
  width: 250px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.container {
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(207, 232, 237, 0.25);
  border-radius: 21px;
  padding: 10px;
  max-width: 450px;
  width: 100%;
  position: relative;
}



.register-forgot-password a {
  background-color: transparent;
}

.register-forgot-password a:hover {
  background-color: rgba(91, 179, 216, 0.5);
}
