/* styles.css */
.submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

/* MainAdminPage.css */
.admin-panel-page-container {
  position: relative;
}

.post-input-container {
  position: fixed;
  top: 145px; /* Отступ сверху для поля ввода */
  width: 100%;
  padding: 10px;
  background-color: #ffffff00;
  z-index: 1;
}

.post-input {
  width: 1750px; /* Вычисляем ширину поля ввода с учетом отступов */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.button-container {
  margin-right: 100px;
  width: 100px;
}

.posts-container {
  margin-top: 70px;
}

.post {
  margin-top: 20px;
}

.publish-container {
  margin-right: 120px;
}

.publish-button {
width: 120px;
}