/* MainAdminPage.css */

/* Подключение шрифта Jura с Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

/* Общие стили для страницы административной панели */
.admin-panel-page {
    align-items: flex-start;
    width: 100vw; /* Изменено на 100vw */
    height: 100vh; /* Изменено на 100vh */
    font-family: 'Jura', sans-serif; /* Применяем шрифт Jura ко всему контенту */
}

.admin-panel-page-container {
    background-color: rgba(255, 0, 0, 0);
    padding: 0; /* Удаляем внутренние отступы */
}

/* Белая полоса с надписью "IT Весна" */
.header-container {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    padding: 0; /* Удаляем внутренние отступы */    
}

.admin-panel-page .transparent-bar {
    background-color: rgba(255, 255, 255, 0);
    font-size: 3.5vw; /* Адаптивный размер шрифта */
    font-weight: bold; /* Делаем текст жирным */
    margin-left: 0vw; /* Добавляем немного внутреннего отступа слева */
}

/* Контейнеры для вкладок */
.admin-panel-page .tab-container {
    display: flex;
    justify-content: space-between;
    width: 100vw; /* Адаптивная ширина контейнера */
    max-width: 100vw; /* Максимальная ширина контейнера */
    padding: 0; /* Удаляем внутренние отступы */
    font-size: 1.5vw; /* Адаптивный размер шрифта */
}

/* Стили для контейнера группы вкладок слева */
.admin-panel-page .left-tab-container,
.admin-panel-page .right-tab-container {
    display: flex;
    border: 1px solid transparent; /* Устанавливаем прозрачную границу */
    border-radius: 1.5vw; /* Адаптивное закругление углов */
    margin-right: 1vw; /* Внешний отступ между группами вкладок */
}

.admin-panel-page .left-tab-container .tab,
.admin-panel-page .right-tab-container .tab {
    padding: 1vw 2vw; /* Увеличиваем внутренний отступ вкладок */
    border: 0.2vw solid #ccc; /* Устанавливаем тонкую серую границу */
    border-radius: 1vw; /* Адаптивное закругление углов */
    cursor: pointer;
    transition: all 0.3s ease; /* Плавный переход */
}

.admin-panel-page .tab.active {
    background-color: #6b62caff;
    color: white;
}

/* Убираем отступ у последней вкладки, чтобы не было лишнего пространства */
.admin-panel-page .tab:last-child {
    margin-right: 0; /* Удаляем внешний отступ */
}

.admin-panel-page .tab:first-child {
    margin-left: 0; /* Удаляем внешний отступ */
}
