/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Чтобы скрыть лишний контент за пределами экрана */
    background-image: url("background.png"); /* Задаем фоновую картинку */
    background-size: cover; /* Растягиваем картинку на всю область фона */
    background-position: center; /* Выравниваем картинку по центру */
    font-family: Arial, sans-serif; /* Устанавливаем шрифт */
}

.container {
    text-align: center;
}

.logo img {
    width: 150px;
    margin-bottom: -30px;
}

h1 {
    color: #000; /* Цвет заголовка */
    font-size: 40px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    width:300px; /* Ширина поля ввода с учетом границы */
    padding: 15px;
    border: 1px solid #ccc; /* Цвет контура поля ввода */
    border-radius: 5px;
}

button {
    width: calc(100% - 200px); /* Ширина кнопки с учетом границы */
    padding: 10px;
    background-color: #000; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9abbd4; /* Цвет фона кнопки при наведении */
}

.register-forgot-password {
    margin-top: 20px; /* Отступ сверху для кнопок регистрации и восстановления пароля */
}

.register-forgot-password a {
    color: #000; /* Цвет текста ссылок */
    text-decoration: none;
    margin: 10 15px; /* Отступ между ссылками */
    padding: 10px 10px; /* Добавляем отступы вокруг текста */
    border: 1px solid #5bb3d8; /* Граница кнопок регистрации и восстановления пароля */
    border-radius: 5px; /* Скругляем углы кнопок */
}

.register-forgot-password a:hover {
    background-color: #5bb3d8; /* Фон кнопок регистрации и восстановления пароля при наведении */
    color: #fff; /* Цвет текста кнопок при наведении */
}

.osu img {
    position: absolute; /* Добавляем позиционирование */
    bottom: 0px; /* Опускаем логотип на 50px от нижнего края контейнера */
    left: 50%; /* Выравниваем логотип по центру горизонтально */
    transform: translateX(-50%); /* Корректируем положение по горизонтали */
    width: 170px; /* Устанавливаем ширину логотипа в 100px */
    z-index: 1; /* Устанавливаем z-index, чтобы логотип был поверх других элементов */
}

.container {
    text-align: center;
    background-color: rgba(207, 232, 237, 0.25); /* Цвет с прозрачностью 25% */
    border-radius: 21px; /* Закругление углов контейнера */
    padding: 10px;
    max-width: 1000px; /* Максимальная ширина контейнера */
    width: 150%; /* Увеличиваем ширину контейнера до 80% */

    
}

/* Убираем фон кнопок регистрации и восстановления пароля */
.register-forgot-password a {
    background-color: transparent;
}

/* Добавляем фон для кнопок регистрации и восстановления пароля при наведении */
.register-forgot-password a:hover {
    background-color: rgba(91, 179, 216, 0.5); /* Фон кнопок регистрации и восстановления пароля с прозрачностью */
}

.osu {
    position: relative; /* Добавляем позиционирование контейнера для логотипа */
    margin-top: 50px; /* Отступ сверху для выравнивания с другими элементами */
}

.osu img {
    position: absolute; /* Добавляем позиционирование */
    bottom: -10px; /* Опускаем логотип на 50px от нижнего края контейнера */
    left: 50%; /* Выравниваем логотип по центру горизонтально */
    transform: translateX(-50%); /* Корректируем положение по горизонтали */
    width: 150px; /* Устанавливаем ширину логотипа в 100px */
    z-index: 1; /* Устанавливаем z-index, чтобы логотип был поверх других элементов */
}
