body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .it-vesna {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'jura', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .zayavka-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    height: 880px;
    width: 1810px;
    margin: 0;
    padding: 0;
    display: flex; /* Используем flex-контейнер */
  }
  
  
  .left-container {
    background-color: rgba(255, 0, 0, 0.507);

  }

  .right-container {
    flex-grow: 1; /* Занимает все доступное пространство */
    background-color: rgba(0, 255, 221, 0.507);

  }