/* Подключение шрифта Jura с Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
  
  .it-vesna {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'jura', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    width: 100%;
  }
  .back-container {
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 15px;
}
  .zayavka-container {
    display: flex; /* Используем flex-контейнер */
  }

  .input-field {
    width: 70vw; 
    height: 35vw; 
    vertical-align: top; /* Текст начинается с верхней части */
    padding: 10px;
    border-radius: 15px;
  }
  
  
  .submit-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: gray;
  }

  .input-text {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 15px;
    font-family: 'Jura';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: black;
    background-color: rgb(17, 17, 17, 0.07);
    border: none;
}
  
  