body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .it-vesna {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'jura', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .zayavka-container {
    height: 880px;
    width: 1810px;
    display: flex; /* Используем flex-контейнер */
  }

  .input-field {
    width: 1600px; /* Фиксированная ширина */
    height: 700px; /* Фиксированная высота */
    vertical-align: top; /* Текст начинается с верхней части */
  }
  
  
  .submit-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }